* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 70%;
  }

  50% {
    background-position: 10% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}

body {
  padding-top: 40px;
  min-height: 100vh;
  background: linear-gradient(135deg, #f84c22, #6788ff, #19f136, #7237ad);
  background-size: 300% 300%;
  animation: gradient-animation 20s ease infinite;
}

/********************************
   header rules
*********************************/
header {
  text-align: center;
  margin-bottom: 30px;
}

.nav-bar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
  background-color: lightblue;
  border-radius: 10px;
}

.nav-bar a.active {
  background-color: darkblue;
  color: white;
}



h1 {
  text-align: center;

}


/********************************
   postForm / ListPost rules
*********************************/

#formPost input,
#formPost textarea {
  display: block;
  padding: 5px;
  margin: 10px auto;
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

.addButton {
  display: block;
  width: 200px;
  height: 30px;
  margin: auto;
  cursor: pointer;
}

.containerPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.postItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
  border: 1px solid black;
  width: 350px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
}

.postItem img {
  width: 300px;
  margin: 10px auto;
}

.contenuto {
  height: 300px;
}

.deleteButton {
  width: 100px;
  height: 30px;
  margin: 10px auto;
  font-size: 15px;
  color: red;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}